/*横向き用*/
@media screen and (orientation:landscape){
    header {
        position: relative;
        width: 100%;
        height: 10vh;
        background-image: url('../image/logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
    }

    #menu{
        position:absolute;
        top:5;
        right: 5vw;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        background-color: #000;
        background-image: url('../image/menu.png');
        background-size:cover;
    }

    #initialBox{
        height: 83vh;
        margin-top: -10vh;
        padding: 15vh 3vw 0vh 3vw;
        font-size: 2vh;
        background-color: #333;
        color:white;
        z-index: -1;
    }

    #setAvater{
        max-width:350px;
        margin-left:10vw;
        text-align: center;
        float:left;
    }

    .avater{
        margin: 10 auto;
        width:30vw;
        height:35vh;
        float:left;
    }

    .avater div{
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 400px;
        min-height: 400px;
    }

    #setPassCode{
        width:40vw;
        max-width:400px;
        margin-left: 10vw;
        text-align: center;
        float:left;
    }

    #main{
        position: relative;
        border: solid thin rgba( 132, 32, 32, 0.8 );
        width: 100vw;
        height: 100vh;
        max-width: 1280px;
        margin: 0 auto;
        font-size: 1vw;
    }

    .tenKey{
        margin:0 auto;
        width:100%;
        z-index:0;
    }

    .tenKeyInput{
        cursor: pointer;
        color: #6fc;
        letter-spacing: 0.5em;
        width:100%;
        height:6vh;
        border: solid 2px #6fc;
    }

    .btn-ten-key{
        font-size: 2.3vw;
    }

    #statusBox{
        display: none;
        float:left;
        width:calc(48% - 20px);
        margin: 10px;
        z-index:0;
    }

    #statusGraphic{
        padding: 10px;
        border-radius: 10px;
        border:solid thin #6fc;
        background-color: rgba( 0, 0, 0, 0.8 );
    }

    #statusText{
        margin-top: 10px;
        padding: 3px;
        border-radius: 10px;
        border:solid thin #6fc;
        background-color: rgba( 0, 0, 0, 0.9 );
        color: white;
    }

    #information{
        display: none;
        float:left;
        margin: 10px;
        padding:10px;
        width:calc(48% - 20px);
        border-radius: 10px;
        margin: 5px;
        padding:10px;
        background-color: rgba( 255, 255, 255, 0.7 );
    }

    #informationBody{
    }

    footer {
        position :absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height:5vh;
        background-color: rgba( 0, 0, 0, 0.8 );
        color: white;
        z-index: 2;
    }

    #message{
        position: absolute;
        top: 10;
        left: 5;
        right: 5;
        bottom: 10;
        height:calc(100% - 200);
        background-color: rgba( 0, 0, 0, 0.8 );
        padding:10px;
        font-size:larger;
        color:white;
        display: none;
        z-index: 10;
    }

    #messageBody{
        margin: 5 5 20 5;
        padding:5px;
        border-radius: 10px;
        height:calc(80% - 300);
        overflow-y: scroll;
        border:solid thin #6fc;
    }

    #auth{
        position: absolute;
        top: 10%;
        bottom: 10%;
        left:20%;
        right:20%;
        margin: 0 auto;
        max-width: 660px;
        background-color: rgba( 0, 0, 0, 0.8 );
        padding:10px;
        font-size:3vh;
        color:white;
        display: none;
        z-index: 5;
    }

    .iconPlayer{
        text-align: center;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        font-size: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size:cover;
        z-index: 3;
    }

    .playerName{
        color:white;
        text-align: center;
        font-size: 1vh;
    }

    .iconWinner{
        float:left;
        text-align: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin:10px;
        z-index: 2;
        background-image: url('../image/gold.jpg');
        background-size:cover;
    }

    .iconWinner div{
        text-align: center;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin:5px;
        z-index: 3;
        background-size:cover;
    }

    input{
        outline: none;
    }

    textarea{
        outline: none;
    }

    .backGroundDesign{
        position:absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size:cover;
        background-position: bottom;
        z-index:-9;
    }

    .hidden{
        display:none;
    }
}

